{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <h2 class="text-center my-4">About the Developer</h2>

        <div class="row">
            <div class="col-md-6">
                <h3 >Ashwini Ghadge</h3>
                <p>Action oriented, results driven, versatile environment specialist & Technical analyst with 14+ years of accomplishments in Trade FSCM, Private & Investment Banking as well as Retail Industry for Information Technology projects. Recognized for possessing strong negotiation skills to save IT infrastructure cost, with business operations, financial and information technologies skill-set.</p>
            </div>
            <div class="col-md-6">
                <h4>Areas of Expertise</h4>
                <ul>
                    <li>Environment Management</li>
                    <li>Production Support</li>
                    <li>DevOps (Jenkins, Bitbucket, Jira)</li>
                    <li>Continuous Integration/Continuous Deployment (CI/CD)</li>
                    <li>Application Deployment</li>
                    <li>Infrastructure Monitoring</li>
                    <li>Unix, Linux, Windows Administration</li>
                    <li>Shell and PowerShell Scripting</li>
                    <li>Automation</li>
                    <li>Team Leadership</li>
                </ul>
            </div>
        </div>

        <h4 class="mt-4">Experience</h4>

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Vice President, Trade FSCM</h5>
                <h6 class="card-subtitle mb-2 text-muted">Oct 2018 to May 2023</h6>
                <p class="card-text">UOB, Singapore</p>
                <ul>
                    <li>Set up Linux and Unix environments for Trade FSCM product, ensuring smooth operation and efficient performance.</li>
                    <li>Served as a DevOps Subject Matter Expert (SME) for the Trade and Private Banking area, responsible for creating and maintaining pipelines using Jenkins, Bitbucket, and Jira tools. Developed Groovy scripting for the backend of DevOps processes.</li>
                    <li>Managed application deployments, ensuring timely and error-free delivery through the adoption of Continuous Integration/Continuous Deployment (CI/CD) methodologies.</li>
                    <!-- Add more experience details -->
                </ul>
            </div>
        </div>

        <!-- Repeat the above card structure for each experience entry -->

        <!-- Include contact form or contact information -->
        <h4 class="mt-4">Contact Information</h4>
        <li>Mobile: 0210561864</li>
        <li>Email: ashwinighadge46@gmail.com</li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/ashwini-ghadge-67626381/">https://www.linkedin.com/in/ashwini-ghadge-67626381/</a></li>

    </div>
{% endblock %}
