{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
  <h1 class="text-center mb-4">About Us</h1>
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <p class="lead">ZooTime is the playtime between home and school, offering edutainment activities and products targeted at promoting life skills valuable to children ages 1 to 10. This influences the wholesome development of social, emotional, and self-management skills. We, at ZooTime, strongly believe that the key to cultivating life skills at a young age is to allow them to PLAY!</p>

      <p class="lead">When we set up our first outlet in 2014 our idea was to encourage parent and child bonding. Today, our business lines have expanded to include various activities and games. With the vision to create a 21st Century Playtime for kids, these business lines are thoughtfully crafted into an adventure park to promote a wholesome family experience for everyone.</p>

      <p class="lead">Headquartered in the heart of the city, ZooTime currently has numerous retail outlets across the region. Being a data-driven company, we engage with our database of customers through various methods. This enables us to connect distinctively with our customers; understanding their preferences and offering more to suit them! It’s really not about us, it’s about them!</p>
    </div>
  </div>
</div>
{% endblock %}
